/*Enlace para utilizar la fuente Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter';
}

/*Estilos para la etiqueta body*/
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 8%);
    font-size: 14px;
}

/*Estilos para la etiqueta main*/
main {
    padding: 30px 0px 10px;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 12%);
    height: min-content;
    border-radius: 10px;
    gap: 10px;
}

/*Estilos para la sección de información personal*/
.seccion-info-personal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.seccion-info-personal h2, section p, button {
    color: hsl(0, 0%, 100%);
}

h2 {
    font-weight: 700;
}

h4 {
    font-weight: 600;
    margin-bottom: 20px;
}

p{
    font-weight: 400;
    font-size: normal;
}

.seccion-info-personal h4 {
    color: hsl(75, 94%, 57%);
}

#img-perfil {
    border-radius: 50%;
    width: 80px;
    height: auto;
}

/*Estilos para la sección de redes sociales*/
.seccion-redes-sociales {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 10px 10% 20px;
}

button {
    flex-shrink: 0;
    background-color: hsl(0, 0%, 20%);
    border-style: none;
    border-radius: 8px;
    padding: 10px 0;
}

.seccion-redes-sociales button:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
    cursor: pointer;
    font-weight: 700;
 }    

/*****************************************************
            Estilos responsivos
*****************************************************/
@media (max-width: 425px) {
    main {
        width: 85vw;
    }

    #img-perfil {
        width: 100px;
        margin-bottom: 20px;
    }
    .seccion-info-personal h2 {
        font-size: 24px;
        font-weight: 500;
    }

    .seccion-info-personal p {
        font-size: 14px;
    }

    button {
        padding: 15px 0px;
        margin: 3px;
        font-weight: 600;
    }
 }

 /*Teléfonos en horizontal o tablets en vertical*/
 @media (min-width:426px) and (max-width: 768px) {
    main {
        width: 60vw;
    }

    #img-perfil {
        width: 95px;
        margin-bottom: 20px;
    }
    .seccion-info-personal h2 {
        font-size: 25px;
        font-weight: 600;
    }

    button {
        padding: 15px 0px;
        margin: 3px;
        font-weight: 600;
    }
 }

 @media (min-width: 769px) and (min-width:1024px) {
    main {
        width: 45vw;
    }

    #img-perfil {
        width: 90px;
        margin-bottom: 20px;
    }
    .seccion-info-personal h2 {
        font-size: 25px;
        font-weight: 500;
    }
    .seccion-info-personal p {
        font-size: normal;
        font-weight: 400px;
    }

    button {
        padding: 15px 0px;
        margin: 3px;
        font-weight: 700;
    }
 }

 @media (min-width:1025px) and (max-width: 1440px) {
    main {
        width: 30vw;
    }

    #img-perfil {
        width: 85px;
        margin-bottom: 15px;
    }
   
    button {
        padding: 15px 0px;
        margin: 3px;
        font-weight: 700;
    }
 }

 @media (min-width: 1441px) {
    main {
        width: 20vw;
    }
 }